@font-face {
    font-family: JetBrains Mono;
    src: url("../fonts/JetBrainsMono.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: JetBrains Mono, Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

body {
    font-family: JetBrains Mono, Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}