@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono';
  }
  

  body {
    padding: 0;
    margin: 20;
    font-family: "JetBrains Mono", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 180;
    line-height: 1.5;
    color: rgb(10, 11, 71);
  }

  #mainh1 {
      color: black;
      font-size: 60;
  }

  #alertred {
      color: red;
      font-size: 20;
  }

  #descp1 {
    color: blue;
    font-size: 28;
  }